body{
    width: 100%;
    height: 95vh;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px
}
.container img{
    height: 70px;
    margin-bottom: -30px;
    color: rgb(255, 2, 242);
}

